h1{
   color: slateblue;  
}
img{
    width: 400px;
}
#thirdDiv{
    height: 600px;
    width: 500px;
    background-color: cornflowerblue;
    padding: 50px;
    border: 15px solid brown;
    display: flex;
    justify-content: center;
    align-items: center; 
}
#spanId{
    font-size: 18px;
    margin: 50px;
}
html{
    background-image: url("./imagen_fondo.jfif");
    display: flex;
    justify-content: center;
    align-items: center; 
}

div{
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center; 
}